.encabezado {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, #090920 20%, #06065a 50%, #00002f 80%);
}

.encabezado h1 {
font-size: 28px;
font-weight: 800;
color: #fff;
}

.encabezado span {
display: block;
font-weight: 600;
margin-top: 8px;
font-size: 16px;
color: #e4e4e4;
font-style: italic;
}