/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(135deg, #0a0a47 20%, #13137c 50%, #010180 80%);
  color: #fff;
  overflow: auto;
}

/* Importar */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.container-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.allTasks {
  width: 40%;
}

.eisenhower {
  width: 60%;
  display: flex;
  justify-content: top;
  align-items: top;
  height: 100vh;
  margin-top: 10px;
  border-radius: 15px;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(2, 2, 45, 0.9);
  box-shadow: 0 4px 15px rgba(11, 2, 66, 0.8);
  border-radius: 15px;
  text-align: left;
  margin-top: 50px;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
}

.fecha {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.text {
  flex-grow: 1;
  margin-left: 10px;
  color: #eee;
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}

.tabla-eisenhower {
  border-collapse: collapse;
  width: auto;
  height: auto;
  table-layout: fixed;
  text-align: left;
  margin: 20px;
}

.tabla-eisenhower th,
.tabla-eisenhower td {
  padding: 20px;
  font-size: 1em;
  text-align: left;
}

.tabla-eisenhower th {
  background-color: #020029;
  font-weight: bold;
}

.haz {
  background-color: #de4d04;
}

.planifica {
  background-color: #008980;
}

.delegar {
  background-color: #0101a2;
}

.eliminar {
  background-color: #e33303;
}
